---
---

//$rand-blue: #12227E;
//$rand-blue: #090C4C;
//$rand-blue: #0D1160;
$rand-blue: #070A44;
$rand-bright-blue: #2C1FC7;
$rand-grey: rgba(0, 0, 0, 0.10);
$rand-light-grey: rgba(0, 0, 0, 0.025);
$rand-dark-grey: rgba(0, 0, 0, 0.5);
$rand-border-width: 0.2em;
$rand-logo-width: 150px;
$rand-logo-height: 20px;
$rand-logo-width-ns: 300px;
$rand-logo-height-ns: 41px;
$rand-release-size: 15rem;
$rand-audio-btn-size: 4rem;
$rand-header-height: 9rem;
$rand-sticky-header-screen: calc(41px + 2rem);

html {
  font-family: nimbus-sans, Helvetica, sans-serif;
}

p {
  margin: 0;
  margin-bottom: 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a,
a:visited,
a:active,
a:hover {
  color: $rand-bright-blue;
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: $rand-border-width solid $rand-bright-blue;
  cursor: pointer;
}

pre {
  padding: 1rem;
  display: block;
  background-color: $rand-light-grey;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container,
.footer-container {
  background-color: $rand-blue;
  color: white;
}

.content-container {
  color: black;
  flex: 1;
}

.footer-container {
  flex: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

header,
footer {
  a,
  a:active,
  a:hover,
  a:visited {
    color: white;
  }

  a:hover,
  a:active {
    border-bottom: $rand-border-width solid white;
  }

  a.logo {
    display: block;

    &:hover,
    &:active {
      border: 0;
    }
  }
}

footer {
  li {
    display: block;
  }
}

.icon {
  width: 1em;
  height: 1em;
}

.valign {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

a .icon {
  fill: $rand-bright-blue;
}

.hamburger {
  font-size: 2rem;
  line-height: 1rem;
}

.logo {
  width: $rand-logo-width;
  height: $rand-logo-height;
}

.page-index {
  background-image: url(../images/bg02.jpg);
  background-position: 0rem $rand-sticky-header-screen;
  background-size: cover;
  background-repeat: norepeat;
}

.index {
  color: #fff;

  a {
    font-weight: 900;
    font-style: italic;

    &,
    &:hover,
    &:active,
    &:visited {
      color: #fff;
    }

    &:hover {
      border-bottom: $rand-border-width solid #fff;
    }
  }
}

.release-table {
  border: 0;
  border-collapse: collapse;

  thead {
    border-bottom: $rand-border-width solid black;
    line-height: 2rem;
  }

  tbody tr {
    border-bottom: 1rem solid rgba(0, 0, 0, 0);
  }

  tbody tr:nth-child(even) {
    background-color: $rand-light-grey;
  }

  tbody tr:first-child td {
    padding-top: 1rem;
  }

  .th--details,
  .th--album-art {
    opacity: 0;
  }
}

.border-grid {
  & a,
  & a:hover,
  & a:active,
  & a:visited {
    color: black;
  }

  .cell-content {
    border: $rand-border-width solid black;
  }
}

.release {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .release-box {
    flex: 0 0 auto;
    width: $rand-release-size;
    height: $rand-release-size;
    border: $rand-border-width solid black;
    overflow: hidden;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .release-overview {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.track-list {
  .track-list__item {
    display: flex;
    align-items: center;
  }
}

@-webkit-keyframes audio-player-loading {
  to {
    background-position: 150% 0;
  }
}

@keyframes audio-player-loading {
  to {
    background-position: 150% 0;
  }
}

.audio-player {
  display: inline-flex;
  cursor: default;
  width: $rand-audio-btn-size;
  height: $rand-audio-btn-size;
  border-radius: $rand-audio-btn-size;
  border: $rand-border-width solid black;
  justify-content: center;
  align-items: center;

  .audio-player__state {
    display: none;
  }

  &--stopped .audio-player__state--stopped,
  &--loading .audio-player__state--loading {
    display: block;
  }

  &--playing .audio-player__state--playing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .audio-player__btn {
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: inherit;

    &:hover {
      transform: scale(1.1);
    }

    &--play {
      position: relative;
      left: 0.15rem;
      background-image: url(../icons/controller-play.svg);
      width: 2.5rem;
      height: 2.5rem;
    }

    &--pause {
      background-image: url(../icons/controller-pause.svg);
      width: 1.66rem;
      height: 1.66rem;
    }

    &--reverse,
    &--forward {
      width: 1.33rem;
      height: 1.33rem;
    }

    &--forward {
      background-image: url(../icons/controller-fast-forward.svg);
    }

    &--reverse {
      background-image: url(../icons/controller-fast-backward.svg);
    }

    &--loading {
      width: 2rem;
      height: 2rem;
      background-size: 6rem 2rem;
      background-image: url(../icons/loading-sprite.svg);
      background-repeat: norepeat;
      -webkit-animation: 1.5s steps(3) infinite audio-player-loading;
      animation: 1.5s steps(3) infinite audio-player-loading;
    }
  }
}

.release-detail-table {
  overflow: hidden;

  tr {
    width: 50%;
    display: block;
    float: left;
  }

  th, td {
    display: block;
    clear: both;
  }
}

@media screen and (min-width: 30em) {
  .header-container {
    flex: 0 0 $rand-header-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  header.sticky + * {
    margin-top: $rand-sticky-header-screen;
  }

  .nav-main {
    display: flex;
    flex-direction: row;
  }

  .nav-main {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .logo {
    width: $rand-logo-width-ns;
    height: $rand-logo-height-ns;
    background-size: $rand-logo-width-ns $rand-logo-height-ns;
  }

  .release-detail-table {
    width: 100%;

    tr {
      width: 100%;
      display: table-row;
      float: none;
    }

    td, th {
      display: table-cell;
      clear: none;
    }
  }

  .footer {
    li {
      display: inline-block;
    }
  }
}

// Desktop first for data tables
@media screen and (max-width: 30em) {
  .release-table {
    &table, tbody, tr {
      display: block;
    }

    thead {
      display: none;
    }

    tbody tr {
      border-bottom: $rand-border-width solid black;
    }

    tbody tr:last-child {
      border-bottom: 0;
    }

    tbody td {
      display: flex;
      margin-bottom: 0.5rem;
    }

    tbody td:before, td > * {
      flex: 1;
    }

    tbody tr:nth-child(even) {
      background-color: inherit;
    }

    tbody td:before {
      text-align: left;
      content: attr(data-th);
      color: $rand-dark-grey;
    }

    tbody .td--details:before {
      opacity: 0;
    }

    .td--album-art img {
      max-width: 100vw;
      width: 50%;
      height: 50%;
    }
  }
}

@media screen and (min-width: 96em) {
  .mw9-xl {
    max-width: 96rem;
  }
}
