{% assign releases = include.releases %}

<table class="release-table f4 tl w-100">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Release Date</th>
      <th>Cat. No.</th>
      <th class="th--album-art">
        Album Art
      </th>
      <th class="th--details">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
    {% assign album_art = release.album_art | first %}
    {% assign release_page = release.url | prepend: site.baseurl %}
    
    <tr class="{% unless forloop.last %}mb4{% endunless %}">
      <td class="pa1 pa3-ns" data-th="Title">        
        <span>{{ release.title }}</span>
      </td>
      <td class="pa1 pa3-ns" data-th="Artist">
        <span>{{ release.artist }}</span>
      </td>
      <td class="pa1 pa3-ns" data-th="Release Date">
        <span>{{ release.release_date | date: "%d.%m.%y" }}</span>
      </td>
      <td class="pa1 pa3-ns" data-th="Cat. No.">
        <span>{{ release.catalogue_number }}</span>
      </td>
      <td class="pa1 pa3-ns td--album-art" data-th="Album Art">
        <img class="mw4" alt="Album art" src="{{ album_art.medium }}" />
      </td>
      <td class="pa1 pb3 pa3-ns td--details f3 f5-ns" data-th="Details">
        <a  href="{{ release.url | prepend: site.baseurl }}">
          Details
          <!-- <div class="valign">
               <span class="mr1">Details</span>
               {% include icon.html name='arrow-right' %}
               </div> -->
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
