{% assign release = include.release %}
{% assign label = site.labels | where: 'label_id', release.label_id | first %}

<article class="release lh-title">
  <div class="release-box">
    <div class="release-overview pa3">
      <div class="release-overview__content">
        <h1 class="release__title f2 lh-solid">{{ release.title }}</h1>
        <h2 class="release__artist normal f3">{{ release.artist }}</h2>
        <h2 class="release__label normal f3">{{ label.name }}</h2>
      </div>
    </div>
  </div>
  {% for album_art in release.album_art %}
  <div class="release-box">
    <img alt="Album art {{ forloop.index0 }}" src="{{ album_art.medium }}"/>
  </div>
  {% endfor %}  
</article>
